.footerWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: black;
  margin-top: 50px;
}
.logo2Footer {
  max-width: 120px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .logo2Footer {
    max-width: 110px;
  }
}
